@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
}


body {
  display: flex;
  justify-content: center;
  
}

.head {
  height: 20vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
}

.header {
  gap: 2vw;
  height: 20vh;
  width: 85vw;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  
}


                   /*------------------ estilização da logo (Inicio)---------------------*/
.logo {
  gap: 0.5vw;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.logo > p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36.4px;
  color: #c92071;
}
.logo > img {
  width: 33px;
  height: 33px;
}                     /*----------------- estilização logo (Fim)----------------*/

    /* ------------------------------- Estilizaçao do input (inicio) ------------------------- */

.input-search {
  width: 40vw;
  display: flex;
  align-items: center;
}
.input-search > input {
  width: 40vw;
  height: 6vh;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgba(241, 239, 239, 0.445);
}
.input-search > input::placeholder {
  padding-left: 2vw;
  color: rgba(57, 56, 56, 0.678);
}
.input-search > span {
  opacity: 0.5;
  margin-top: 0.5vh;
  margin-left: -2.5vw;
  color:rgba(57, 56, 56, 0.678) ;
}
.input-search > span:hover {
  cursor: pointer;
}
/* ------------------------------- Estilizaçao do input (Fim) ------------------------- */

.cadastre-se {
  display: flex;
align-items: center;
}

.cadastre-se > a {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  align-self: center;
  text-decoration: none;
  text-decoration-line: underline;
  color: black;
}
.cadastre-se > button {
  background-color: #C92071;
  color: white;
  width: 7vw;
  height: 5vh;
  border: none;
  border-radius: 5px;
  margin-left: 2vw;

}

.carrinho > img {
  display: flex;
  
}

.nav-bar {
  display: flex;
  height: 4.5vh;
  align-items: center;
  gap: 3vw;
}

.nav-bar > div > p {
  position: static;
  text-decoration: none;
  color: black;
  font-family: "inter", sans-serif;
  font-weight: 300;
}

.nav-bar > div > p:hover{
  color: #C92071;
  font-family: "inter", sans-serif;
  font-weight: 600;
  border-bottom: 2px solid #C92071;  
}